#blocker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

#menu {
  position: fixed;
  left: 0;
  width: 200px;
  margin-left: -200px;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  transition: .3s;

  &.show {
    margin-left: 0px;
    transition: .3s;
  }
}
