@import 'assets/win98theme/styles';

@font-face {
  font-family: Ubuntu;
  src: url(assets/fonts/Ubuntu-R.ttf);
}

:root {
  font-family: Ms;
  background-color: #2b7b7b;
}

.can-move {
  position: absolute;
}

.link {
  color: var(--orange);
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: black;
  text-decoration: none;
  border: solid grey 5px;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: var(--red);
  }

  &:active {
    background-color: var(--yellow);
  }
}

.text {
  padding: 10px;
  border: dashed var(--yellow) 1px;
  max-width: 400px;
  display: inline-block;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #bdbdbd;
  justify-content: space-between;
  border-top: solid 2px #f7f7f7;
  padding: 3px;

  .bottom-bar__block {
    display: flex;
    align-items: center;
  }

  .start-button {
    background-image: url("./win98theme/icon/start.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px 3px;
    font-family: Ms-bold;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 2px;

    &:active {
      background-position: 5px 4px;
      padding-left: 24px;
      padding-right: 2px;
    }
  }
}

.clock {
  font-family: Ms;
  margin: 0 3px;
}

.context-menu {
  color: black;
  border: 1px solid #555;
  position: absolute;
  background-color: grey;
  padding: 10px;
  cursor: pointer;

  a:hover, div:hover {
    background-color: #555;
  }
}
