@font-face {
  font-family: Ubuntu;
  src: url(assets/fonts/Ubuntu-R.ttf);
  font-size: 25px;
}

html {
  font-family: Ubuntu;
  background: url(textures/mesh.png);
  background-size: 100px;
}

.can-move {
  position: absolute;
}

.link {
  color: var(--orange);
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: black;
  text-decoration: none;
  border: solid grey 5px;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: var(--red);
  }

  &:active {
    background-color: var(--yellow);
  }
}

.text {
  padding: 10px;
  border: dashed var(--yellow) 1px;
  max-width: 400px;
  display: inline-block;
}

button {
  background: #555;
  color: white;
  height: 30px;
}

.columns {
  display: flex;
  padding: 15px;

  .column {
    flex: 1;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 40px;
  width: 100%;
  background-color: grey;
  justify-content: space-between;
  padding: 3px;

  .bottom-bar__block {
    min-width: 34px;
    min-height: 34px;
    display: flex;
    align-items: center;
  }
}

.clock {
  margin: 0 3px;
  color: black;
  font-size: .8rem;
}

.context-menu {
  color: black;
  border: 1px solid #555;
  position: absolute;
  background-color: grey;
  padding: 10px;
  cursor: pointer;

  a:hover, div:hover {
    background-color: #555;
  }
}
